<style>
  section {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  #time {
    font-size: 2em;
  }
  #time > b {
    font-size: 1.5em;
  }

  #question {
    font-style: italic;
  }

  #answer {
    font-size: 100px;
    font-weight: bold;
  }
</style>

<section>
  <h1 id="time">
    Het is <b>{{time|date:'hh:mm:ss'}}</b>
  </h1>

  <h2 id="question">Is het tijd voor een Cava'tje?</h2>
  
  <h1 id="answer">
    <ng-container *ngIf="answer">JA!</ng-container>
    <ng-container *ngIf="!answer">Nee...</ng-container>
  </h1>
</section>

