<style>
  section {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  #time {
    font-size: 2em;
  }
  #time > b {
    font-size: 1.5em;
  }

  #question {
    font-style: italic;
  }

  #answer {
    font-size: 100px;
    font-weight: bold;
  }

  footer {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 1em;
  }

  footer > p {
    margin: 0;
  }

</style>

<section>
  <h1 id="time">
    Het is <b>{{time|date:'hh:mm:ss'}}</b>
  </h1>

  <h2 id="question">Is het tijd voor een Cava'tje?</h2>
  
  <h1 id="answer">
    <ng-container *ngIf="answer">JA!</ng-container>
    <ng-container *ngIf="!answer">Nee...</ng-container>
  </h1>
</section>

<footer>
  <h3>Donations are always appreciated!</h3>

  <p>ETH: 0x02fDE562AC964A536Be7D060a347861332df9dF6</p>
  <p>BTC: 3Chgp6orxcc9mV1MS62wCcey1sXmCfPS1U</p> 

</footer>

